<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elemental_runani12_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,295},{202,214}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,69},{202,214}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1801},{234,298}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,24},{234,298}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1825},{220,300}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,25},{220,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani12_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1497},{264,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,25},{264,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani12_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1193},{272,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,25},{272,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani12_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1},{290,300}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,25},{290,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani12_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1521},{290,300}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,25},{290,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani12_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1217},{294,300}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,25},{294,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani12_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,913},{294,300}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,25},{294,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani12_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,1497},{294,298}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,24},{294,298}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani12_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,609},{294,300}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,25},{294,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani12_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,305},{294,300}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,25},{294,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani12_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{294,300}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,25},{294,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani12_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1521},{292,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,25},{292,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani12_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,889},{288,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,25},{288,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani12_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,585},{288,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,25},{288,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani12_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,293},{288,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,25},{288,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani12_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1193},{282,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,25},{282,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani12_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1},{288,300}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,25},{288,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani12_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,585},{276,268}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,38},{276,268}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani12_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,295},{202,214}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,69},{202,214}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani12_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,1799},{202,214}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,69},{202,214}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani12_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1825},{202,214}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,69},{202,214}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani12_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1825},{202,214}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,69},{202,214}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elemental_runani12.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80a3dfb254c90a2a887c1d919d3389eb:ae5cd9ab7ff797881634cabd8b69bfd7:52943f147c9c8ed88aff38c1c86e843f$</string>
            <key>textureFileName</key>
            <string>elemental_runani12.png</string>
        </dict>
    </dict>
</plist>
