<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elemental_back01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,805},{206,699}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,699}}</string>
                <key>sourceSize</key>
                <string>{206,699}</string>
            </dict>
            <key>elemental_back01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,128},{644,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{644,94}}</string>
                <key>sourceSize</key>
                <string>{644,96}</string>
            </dict>
            <key>elemental_back01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{800,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,242}}</string>
                <key>sourceSize</key>
                <string>{800,242}</string>
            </dict>
            <key>elemental_back01_02_flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,403},{116,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,26}}</string>
                <key>sourceSize</key>
                <string>{116,26}</string>
            </dict>
            <key>elemental_back01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,477},{198,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,64}}</string>
                <key>sourceSize</key>
                <string>{198,64}</string>
            </dict>
            <key>elemental_back01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,128},{109,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,117}}</string>
                <key>sourceSize</key>
                <string>{109,117}</string>
            </dict>
            <key>elemental_back01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,749},{29,707}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,707}}</string>
                <key>sourceSize</key>
                <string>{29,707}</string>
            </dict>
            <key>elemental_back01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,1},{123,669}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{123,669}}</string>
                <key>sourceSize</key>
                <string>{125,669}</string>
            </dict>
            <key>elemental_back02.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,782},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>elemental_back03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,766},{247,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,56}}</string>
                <key>sourceSize</key>
                <string>{247,56}</string>
            </dict>
            <key>elemental_back07.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1},{744,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{744,262}}</string>
                <key>sourceSize</key>
                <string>{744,262}</string>
            </dict>
            <key>elemental_back07_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,128},{448,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,108}}</string>
                <key>sourceSize</key>
                <string>{448,108}</string>
            </dict>
            <key>elemental_back10.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,1},{224,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,283}}</string>
                <key>sourceSize</key>
                <string>{224,283}</string>
            </dict>
            <key>elemental_back11.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,749},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>elemental_back13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,766},{130,247}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{130,247}}</string>
                <key>sourceSize</key>
                <string>{148,269}</string>
            </dict>
            <key>elemental_back14.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,749},{45,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,89}}</string>
                <key>sourceSize</key>
                <string>{45,89}</string>
            </dict>
            <key>elemental_back_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,787},{150,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,5}}</string>
                <key>sourceSize</key>
                <string>{150,5}</string>
            </dict>
            <key>elemental_back_bar_spr.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,796},{93,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,5}}</string>
                <key>sourceSize</key>
                <string>{93,5}</string>
            </dict>
            <key>elemental_icon_blur_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1},{284,266}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,42},{284,266}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_icon_blur_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,640},{198,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,21},{198,228}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_icon_blur_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,438},{198,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,21},{198,228}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_icon_blur_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,782},{198,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,21},{198,228}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_icon_blur_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,782},{198,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,21},{198,228}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_icon_blur_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,241},{116,158}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,59},{116,158}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_icon_blur_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,435},{110,160}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,58},{110,160}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_icon_blur_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,842},{126,162}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,57},{126,162}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_icon_blur_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,842},{72,168}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,54},{72,168}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_icon_blur_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,597},{144,140}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,68},{144,140}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_icon_blur_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,435},{102,158}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,59},{102,158}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_icon_blur_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,438},{324,338}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{324,338}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_icon_blur_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,477},{202,240}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,56},{202,240}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_icon_blur_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,271},{202,240}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,56},{202,240}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_icon_blur_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,776},{202,240}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,56},{202,240}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_icon_blur_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,229},{202,266}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,43},{202,266}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_win_back_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,240},{445,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,194}}</string>
                <key>sourceSize</key>
                <string>{445,194}</string>
            </dict>
            <key>empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1015},{1,1}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elemental_png.png</string>
            <key>size</key>
            <string>{1766,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58f1bf0c160eaca3b742916b9de997de$</string>
            <key>textureFileName</key>
            <string>elemental_png.png</string>
        </dict>
    </dict>
</plist>
