<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elemental_runani13_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,1},{202,214}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,69},{202,214}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,885},{234,298}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,24},{234,298}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1825},{220,300}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,25},{220,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani13_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,885},{268,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,25},{268,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani13_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,581},{276,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,25},{276,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani13_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1},{290,300}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,25},{290,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani13_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1521},{290,300}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,25},{290,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani13_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1217},{292,300}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,25},{292,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani13_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,913},{292,300}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,25},{292,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani13_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1189},{292,298}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,24},{292,298}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani13_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,609},{292,300}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,25},{292,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani13_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,305},{292,300}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,25},{292,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani13_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{292,300}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,25},{292,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani13_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1521},{290,300}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,25},{290,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani13_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1189},{284,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,25},{284,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani13_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,885},{284,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,25},{284,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani13_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,581},{284,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,25},{284,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani13_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,293},{284,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,25},{284,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani13_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1},{288,300}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,25},{288,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani13_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,295},{282,286}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,31},{282,286}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani13_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,581},{276,280}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,34},{276,280}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani13_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,295},{268,274}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,36},{268,274}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani13_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1825},{210,214}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,69},{210,214}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani13_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,1825},{202,214}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,69},{202,214}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elemental_runani13.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b27e11a7e63f3a88e2b35fc86eba3d91:95ad3f6459b07c9d6395038237eb23d5:9f2cb3af800d253dce9abe02d0966f20$</string>
            <key>textureFileName</key>
            <string>elemental_runani13.png</string>
        </dict>
    </dict>
</plist>
