<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elemental_runani15_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1391},{202,212}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,71},{202,212}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani15_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1463},{234,298}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,24},{234,298}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani15_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1701},{220,300}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,25},{220,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani15_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1739},{266,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,25},{266,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani15_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1461},{274,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,25},{274,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani15_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,593},{290,300}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,25},{290,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani15_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,593},{290,300}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,25},{290,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani15_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,297},{292,300}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,25},{292,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani15_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,297},{292,300}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,25},{292,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani15_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,297},{292,298}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,24},{292,298}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani15_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,1},{292,300}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,25},{292,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani15_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1},{292,300}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,25},{292,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani15_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{292,300}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,25},{292,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani15_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,593},{290,300}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,25},{290,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani15_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1175},{284,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,25},{284,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani15_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,887},{284,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,25},{284,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani15_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,887},{284,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,25},{284,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani15_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1177},{280,300}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,25},{280,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani15_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,887},{286,300}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,25},{286,300}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani15_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1739},{278,274}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,38},{278,274}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani15_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,1175},{202,212}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,71},{202,212}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani15_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1679},{204,212}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,71},{204,212}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani15_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,1463},{206,212}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,71},{206,212}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_runani15_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1175},{202,212}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,71},{202,212}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elemental_runani15.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:748f581ab3f0d48ade29e5eada243f9a:0d89a8ae091ef607887d3cfff6eb2e56:7d7f92816c1289e2cf3e88454b5faa03$</string>
            <key>textureFileName</key>
            <string>elemental_runani15.png</string>
        </dict>
    </dict>
</plist>
