<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elemental_runani01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,965},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{198,198}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,957},{222,212}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{222,212}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1173},{228,216}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{228,216}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1173},{232,220}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{232,220}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1173},{230,220}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{230,220}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,949},{232,220}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{232,220}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,723},{234,224}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{234,224}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,507},{238,226}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{238,226}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,717},{242,228}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{242,228}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,721},{246,232}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{246,232}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,255},{248,234}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{248,234}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,483},{250,236}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{250,236}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,243},{250,236}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{250,236}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,243},{250,238}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{250,238}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,1},{250,238}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{250,238}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1},{250,238}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{250,238}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{250,238}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{250,238}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,243},{250,236}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{250,236}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,1},{250,234}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,15},{250,234}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,485},{250,232}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{250,232}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,483},{246,230}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{246,230}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani01_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,737},{238,224}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{238,224}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani01_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,951},{228,218}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,25},{228,218}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani01_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,1173},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{198,198}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elemental_runani01.png</string>
            <key>size</key>
            <string>{998,1394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:769d5d746d93490b6d223a03f68a5f18$</string>
            <key>textureFileName</key>
            <string>elemental_runani01.png</string>
        </dict>
    </dict>
</plist>
