<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elemental_back_water.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1000,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1000}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elemental_jpg8.jpg</string>
            <key>size</key>
            <string>{1002,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:289f2a39ce57201af03f92e3460b5ef5$</string>
            <key>textureFileName</key>
            <string>elemental_jpg8.jpg</string>
        </dict>
    </dict>
</plist>
