<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elemental_back09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,878},{191,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{191,76}}</string>
                <key>sourceSize</key>
                <string>{205,88}</string>
            </dict>
            <key>elemental_btn_OK1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,919},{141,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{141,45}}</string>
                <key>sourceSize</key>
                <string>{147,57}</string>
            </dict>
            <key>elemental_btn_OK2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,847},{147,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,57}}</string>
                <key>sourceSize</key>
                <string>{147,57}</string>
            </dict>
            <key>elemental_btn_OK3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,870},{141,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{141,45}}</string>
                <key>sourceSize</key>
                <string>{147,57}</string>
            </dict>
            <key>elemental_btn_add01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1973,897},{58,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{58,52}}</string>
                <key>sourceSize</key>
                <string>{74,68}</string>
            </dict>
            <key>elemental_btn_add02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,851},{74,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{74,68}</string>
            </dict>
            <key>elemental_btn_add03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1973,835},{58,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{58,52}}</string>
                <key>sourceSize</key>
                <string>{74,68}</string>
            </dict>
            <key>elemental_btn_autoa01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,289},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{36,33}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>elemental_btn_autoa02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,918},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>elemental_btn_autoa03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,289},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{36,33}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>elemental_btn_autob01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,913},{50,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{50,47}}</string>
                <key>sourceSize</key>
                <string>{64,63}</string>
            </dict>
            <key>elemental_btn_autob02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,851},{64,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,63}}</string>
                <key>sourceSize</key>
                <string>{64,63}</string>
            </dict>
            <key>elemental_btn_autob03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,913},{50,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{50,47}}</string>
                <key>sourceSize</key>
                <string>{64,63}</string>
            </dict>
            <key>elemental_btn_max01.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,875},{144,75}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{144,75}}</string>
                <key>sourceSize</key>
                <string>{162,93}</string>
            </dict>
            <key>elemental_btn_max01_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,875},{94,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{94,144}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>elemental_btn_max02.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,878},{156,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{156,89}}</string>
                <key>sourceSize</key>
                <string>{162,93}</string>
            </dict>
            <key>elemental_btn_max02_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,733},{110,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,160}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>elemental_btn_max03.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,893},{142,73}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{142,73}}</string>
                <key>sourceSize</key>
                <string>{162,93}</string>
            </dict>
            <key>elemental_btn_max03_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,875},{94,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{94,144}}</string>
                <key>sourceSize</key>
                <string>{110,160}</string>
            </dict>
            <key>elemental_btn_maxa01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,923},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{46,46}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>elemental_btn_maxa02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,877},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>elemental_btn_maxa03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,923},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{46,46}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>elemental_btn_maxc01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,923},{46,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{46,35}}</string>
                <key>sourceSize</key>
                <string>{62,51}</string>
            </dict>
            <key>elemental_btn_maxc02.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,878},{62,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,51}}</string>
                <key>sourceSize</key>
                <string>{62,51}</string>
            </dict>
            <key>elemental_btn_maxc03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,847},{46,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{46,35}}</string>
                <key>sourceSize</key>
                <string>{62,51}</string>
            </dict>
            <key>elemental_btn_neg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,773},{58,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{58,52}}</string>
                <key>sourceSize</key>
                <string>{74,68}</string>
            </dict>
            <key>elemental_btn_neg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,893},{74,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{74,68}</string>
            </dict>
            <key>elemental_btn_neg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,908},{58,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{58,52}}</string>
                <key>sourceSize</key>
                <string>{74,68}</string>
            </dict>
            <key>elemental_btn_run01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1899,697},{82,72}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{82,72}}</string>
                <key>sourceSize</key>
                <string>{126,124}</string>
            </dict>
            <key>elemental_btn_run02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,838},{96,86}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{96,86}}</string>
                <key>sourceSize</key>
                <string>{126,124}</string>
            </dict>
            <key>elemental_btn_run03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,773},{80,70}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,28},{80,70}}</string>
                <key>sourceSize</key>
                <string>{126,124}</string>
            </dict>
            <key>elemental_btn_runback01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,655},{179,136}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{179,136}}</string>
                <key>sourceSize</key>
                <string>{199,156}</string>
            </dict>
            <key>elemental_btn_runback02.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,669},{193,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{193,150}}</string>
                <key>sourceSize</key>
                <string>{199,156}</string>
            </dict>
            <key>elemental_btn_runback03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,687},{179,136}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{179,136}}</string>
                <key>sourceSize</key>
                <string>{199,156}</string>
            </dict>
            <key>elemental_btn_stop01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,329},{48,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,30},{48,68}}</string>
                <key>sourceSize</key>
                <string>{126,124}</string>
            </dict>
            <key>elemental_btn_stop02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,847},{62,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,23},{62,82}}</string>
                <key>sourceSize</key>
                <string>{126,124}</string>
            </dict>
            <key>elemental_btn_stop03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,908},{46,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,31},{46,66}}</string>
                <key>sourceSize</key>
                <string>{126,124}</string>
            </dict>
            <key>elemental_icon00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,1},{284,242}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,54},{284,242}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_icon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,531},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{198,198}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_icon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,329},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{198,198}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_icon03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,531},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{198,198}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_icon04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,329},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{198,198}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_icon05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1899,429},{116,128}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,74},{116,128}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_icon06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1899,561},{112,132}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,72},{112,132}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_icon07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1899,289},{128,136}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,70},{128,136}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_icon08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1809,733},{74,140}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,68},{74,140}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_icon09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,733},{146,114}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,81},{146,114}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_icon10.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,866},{102,130}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,73},{102,130}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_icon11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,1},{324,324}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{324,324}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_icon12.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,687},{202,212}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,71},{202,212}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_icon13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,439},{202,212}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,71},{202,212}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_icon14.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,669},{202,212}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,71},{202,212}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_icon15.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,669},{202,212}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,71},{202,212}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>elemental_icon16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,669},{408,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,205}}</string>
                <key>sourceSize</key>
                <string>{408,205}</string>
            </dict>
            <key>elemental_icon17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,1},{408,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,434}}</string>
                <key>sourceSize</key>
                <string>{408,434}</string>
            </dict>
            <key>elemental_icon18.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1},{408,664}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,664}}</string>
                <key>sourceSize</key>
                <string>{408,664}</string>
            </dict>
            <key>elemental_icon19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{614,664}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,664}}</string>
                <key>sourceSize</key>
                <string>{614,664}</string>
            </dict>
            <key>elemental_icon20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,439},{254,244}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,39},{254,244}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elemental_icon.png</string>
            <key>size</key>
            <string>{2029,970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:598a2069a9184b0b79c162a05e95aa20$</string>
            <key>textureFileName</key>
            <string>elemental_icon.png</string>
        </dict>
    </dict>
</plist>
