<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elemental_runani04_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,629},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{198,198}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,203},{202,206}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,28},{202,206}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,413},{204,212}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,23},{204,212}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1},{208,220}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,17},{208,220}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,225},{206,218}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,17},{206,218}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,225},{208,218}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,16},{208,218}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1},{210,220}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,14},{210,220}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani04_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,459},{212,222}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{212,222}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani04_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,687},{214,224}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,10},{214,224}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani04_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,687},{218,226}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{218,226}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani04_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,699},{220,226}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,8},{220,226}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani04_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1},{222,226}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{222,226}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani04_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,463},{224,226}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{224,226}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani04_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1},{226,226}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{226,226}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani04_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,467},{228,226}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{228,226}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani04_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{230,226}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{230,226}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani04_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,235},{228,226}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{228,226}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani04_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,231},{228,224}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,10},{228,224}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani04_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,693},{226,224}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,11},{226,224}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani04_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,231},{224,224}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,13},{224,224}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani04_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,459},{222,224}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,15},{222,224}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani04_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,685},{214,216}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,20},{214,216}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani04_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,447},{208,210}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,25},{208,210}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>elemental_runani04_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,1},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{198,198}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elemental_runani04.png</string>
            <key>size</key>
            <string>{1318,920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d147329d5fe7994a6015a973bb67833f$</string>
            <key>textureFileName</key>
            <string>elemental_runani04.png</string>
        </dict>
    </dict>
</plist>
